[program:{{ supervisor_program_name }}]
command = {{ project_directory}}/env/bin/gunicorn {{ project_wsgi }}:application
user = {{ user }}
directory = {{ project_directory }}/{{project_name }}
autostart = true
autorestart = true
environment = DJANGO_SETTINGS_MODULE= "{{ production_directory }}"
