server { 
    
    listen {{ server_port}};
    server_name {{ server_name }}; 

    location /static {
        alias {{ project_directory }}/{{ project_name }}/{{ project_name }}/staticfiles/;
    }

        
    location / {
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_redirect off;
        #proxy_pass http://127.0.0.1:8000;
 	    if (!-f $request_filename) {
            proxy_pass http://127.0.0.1:8000;
            break;
        }
    }
        

}


